.Wrapper {
	display: flex;
	justify-content: center;
}

.Content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 510px;
}

.UserProfile {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.UserProfileName {
	margin-left: 5px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(19, 19, 19);
	font-family: Helvetica, sans-serif;
}

.Text {
	margin-bottom: 10px;
	font-size: 19px;
	font-weight: bold;
	color: whitesmoke;
	font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.Section {
	margin-top: 15px;
	width: 100%;
	border: 2px solid #4a9ff3;
	background-color: #4a9ff3;
	border-radius: 15px;
	padding: 0.7rem 1.4rem;
}
